<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="app.css" >

    </head>
    <body ng-app="calcApp">
        <nav class="navbar navbar-light bg-light" id="nav-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="img/sniegoccsqr75x75.png" class="pr-2" alt="">
                    Kalkulator kosztów
                </a>
            </div>
        </nav>
        <main>
            <div class="container">
                <div class="row" ng-controller="calcAppCtrl as calcList">
                    <div class="col-12"></div>
                    <div class="col-sm-12 col-md-11">
                        <form class="mt-5">
                            <div class="form-row my-1" >
                            <div ng-repeat="option in calcList.options"  ng-if="option.flag" class="col {{option.colOpt}}">
                                {{option.text}}
                            </div>
                        </div>
                            <div class="form-row my-1"  ng-repeat="item in calcList.items track by $index">
                                <div ng-repeat="option in calcList.options"  ng-if="option.flag" class="col {{option.colOpt}}">
                                <div class="col">
                                    <input ng-if="option.editable" type="text" class="form-control"  ng-model="item[option.label]" id="{{option.label}}-id-{{item[option.label]}}"  >
                                    <span ng-if="!option.editable">{{item[option.label]}}</span>
                                </div>
                            </div>
                             <!--   <div class="col">
                                    <input type="text" class="form-control"  ng-model="item.name" id="name-id-{{$index}}"  placeholder="Wpisz pozycje kosztową">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control"  ng-model="item.count" id="count-id-{{$index}}" ng-pattern="/^(\d)+$/" placeholder="Podaj koszt (PLN)">
                                </div> -->
                            </div>
                            <div class="form-row">
                                <div class="col text-right pr-2"> Podsumowanie:</div>
                                <div class="col">
                                    <input type="text" class="form-control"  ng-model="calcList.summary" id="summary-id" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col"><a ng-click="calcList.newItem()" class="btn btn-custom">Dodaj nowy</a></div>

                            </div>
                        </form>

                    </div>
                    <div class="col-sm-12 col-md-1 pt-5">
                        <div class="form-check" ng-repeat="option in calcList.options">
                            <input class="form-check-input" type="checkbox"  ng-model="option.flag" id="{{option.label}}" >
                            <label class="form-check-label" for="{{option.label}}">
                                {{option.text}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </main>
 
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
        <script src="lib/angular/angular.js" ></script>
        <script src="lib/underscore-min.js" ></script>
        <script src="app.js" ></script>
    </body>
</html>
